/**
 * Tailwind CSS
 */
@import "tailwindcss";

@theme {
    --color-primary: oklch(41.33% 0.078 303.17);

    --font-inter: InterVariable, sans-serif;
    --font-indie-flower: "Indie Flower", cursive;
}

@layer base {
    /* Headings */
    h1 {
        @apply text-4xl font-semibold;
    }

    h2 {
        @apply text-3xl font-semibold;
    }

    h3 {
        @apply text-2xl font-semibold;
    }

    h4 {
        @apply text-xl font-semibold;
    }

    h5 {
        @apply text-lg font-semibold;
    }

    h6 {
        @apply text-base font-semibold;
    }

    /* Paragraphs */
    p {
        margin-block: 1rem;
        margin-block: 1lh;
    }

    /* Forms */
    label {
        @apply block text-sm/6 font-medium text-gray-900;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer utilities {
    .m-block-0 {
        margin-block: 0;
    }
}

/**
 * General
 */

html,
body,
#app {
    @apply flex flex-col grow min-h-full font-inter;
}

/* body {
    @apply bg-slate-50;
} */
